<div class="app-layout">
  <div class="app-input mat-elevation-z2">
    <button mat-button *ngFor="let key of actionKeys" (click)="actions[key]()">{{key | uppercase}}</button>
  </div>
  <div class="app-content">
    <mat-table [dataSource]="tableData" class="mat-elevation-z2">
      <ng-container matColumnDef="{{header}}" *ngFor="let header of headers">
        <mat-header-cell *matHeaderCellDef>{{header}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element[header]}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
      <mat-row *matRowDef="let row; columns: headers;"></mat-row>
    </mat-table>
  </div>
</div>
