<!-- <div class="event-data-row">
  <div class="event">
    <button mat-raised-button (click)="pushAlpha()">Alpha</button>
  </div>
  <div class="event">
    <button mat-raised-button (click)="pushNum()">Num</button>
  </div>
</div> -->

<div class="app-layout">
  <div class="app-input mat-elevation-z2">
    <button mat-button (click)="pushAlpha()">Alpha</button>
    <button mat-button (click)="pushNum()">Num</button>
  </div>
  <div class="app-content">
    <!-- <div *ngFor="let entry of render | async">
      {{entry.time}}
    </div> -->
    <mat-table [dataSource]="tableData" class="mat-elevation-z2">
      <ng-container matColumnDef="{{header}}" *ngFor="let header of headers">
        <mat-header-cell *matHeaderCellDef>{{header}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element[header]}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
      <mat-row *matRowDef="let row; columns: headers;"></mat-row>
    </mat-table>
  </div>
</div>
