.app-layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

.app-input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100px;
  height: 100vh;
  background-color: white;
}

.app-input button {
  width: 100%;
}

.app-content {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
  overflow: auto;
}

.mat-table {
  width: 100%;
}




